In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [3]:
data = pd.read_csv("Churn_Modelling.csv")
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
label_encoder_gender = LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [7]:
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out())
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [10]:
X = data.drop('EstimatedSalary',axis=1)
y = data['EstimatedSalary']

In [11]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [12]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

with open("scaler.pkl",'wb') as file:
    pickle.dump(scaler,file)

#### ANN Regression

In [14]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [20]:
model = Sequential([
    Dense(64, activation='relu',input_shape = (X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)
])

model.compile(optimizer='adam',loss = 'mean_absolute_error',metrics=['mae'])
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2,945
Trainable params: 2,945
Non-trainable params: 0
_________________________________________________________________

In [21]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime


log_dir ="regression_logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback= TensorBoard(log_dir=log_dir,histogram_freq=1)
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [22]:
y_train

9254    179093.26
1561    195978.86
1670     85891.02
6087    153080.40
6669     39488.04
          ...
5734     69381.05
5191       706.50
5390     92220.12
860      97508.04
7270     53581.14
Name: EstimatedSalary, Length: 8000, dtype: float64

In [23]:
history = model.fit(X_train,y_train,
                    validation_data=(X_test,y_test),
                    epochs=100,
                    callbacks = [tensorflow_callback,early_stopping_callback]
                    )

Epoch 1/100
250/250 [==============================] - 3s 4ms/step - loss: 100369.4453 - mae: 100369.4453 - val_loss: 98484.9688 - val_mae: 98484.9688
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99503.0625 - mae: 99503.0625 - val_loss: 96726.9844 - val_mae: 96726.9844
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 96415.0312 - mae: 96415.0312 - val_loss: 92189.9062 - val_mae: 92189.9062
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 90372.8125 - mae: 90372.8125 - val_loss: 84768.6328 - val_mae: 84768.6328
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 81761.2031 - mae: 81761.2031 - val_loss: 75502.7656 - val_mae: 75502.7656
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 72089.5547 - mae: 72089.5547 - val_loss: 66434.2812 - val_mae: 66434.2812
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 63276.1914 - mae: 63276.1914 - val_loss: 59140.1289 - val_mae: 59140.1289
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 56892.8984 - mae: 56892.8984 - val_loss: 54454.7305 - val_mae: 54454.7305
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 53200.6914 - mae: 53200.6914 - val_loss: 52270.0312 - val_mae: 52270.0312
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 51402.5117 - mae: 51402.5117 - val_loss: 51338.2422 - val_mae: 51338.2422
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 50698.9414 - mae: 50698.9414 - val_loss: 50989.9531 - val_mae: 50989.9531
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 50417.1875 - mae: 50417.1875 - val_loss: 50832.5078 - val_mae: 50832.5078
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 50267.2227 - mae: 50267.2227 - val_loss: 50759.0938 - val_mae: 50759.0938
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50176.7891 - mae: 50176.7891 - val_loss: 50704.2070 - val_mae: 50704.2070
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 50107.3672 - mae: 50107.3672 - val_loss: 50653.6602 - val_mae: 50653.6602
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 50050.7266 - mae: 50050.7266 - val_loss: 50614.9844 - val_mae: 50614.9844
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 50002.6211 - mae: 50002.6211 - val_loss: 50580.2891 - val_mae: 50580.2891
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 49962.2305 - mae: 49962.2305 - val_loss: 50541.9844 - val_mae: 50541.9844
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 49931.0469 - mae: 49931.0469 - val_loss: 50518.6758 - val_mae: 50518.6758
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 49889.4336 - mae: 49889.4336 - val_loss: 50486.2188 - val_mae: 50486.2188
Epoch 21/100
250/250 [==============================] - 1s 2ms/step - loss: 49862.1250 - mae: 49862.1250 - val_loss: 50466.7031 - val_mae: 50466.7031
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 49830.4648 - mae: 49830.4648 - val_loss: 50443.1328 - val_mae: 50443.1328
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 49806.7188 - mae: 49806.7188 - val_loss: 50427.3984 - val_mae: 50427.3984
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 49776.8125 - mae: 49776.8125 - val_loss: 50410.3398 - val_mae: 50410.3398
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 49753.1094 - mae: 49753.1094 - val_loss: 50401.0391 - val_mae: 50401.0391
Epoch 26/100
250/250 [==============================] - 1s 2ms/step - loss: 49732.7109 - mae: 49732.7109 - val_loss: 50379.3164 - val_mae: 50379.3164
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49710.4648 - mae: 49710.4648 - val_loss: 50378.1328 - val_mae: 50378.1328
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 49693.2930 - mae: 49693.2930 - val_loss: 50364.5664 - val_mae: 50364.5664
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 49672.4023 - mae: 49672.4023 - val_loss: 50352.6133 - val_mae: 50352.6133
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 49658.6250 - mae: 49658.6250 - val_loss: 50345.6797 - val_mae: 50345.6797
Epoch 31/100
250/250 [==============================] - 1s 2ms/step - loss: 49639.9102 - mae: 49639.9102 - val_loss: 50338.2539 - val_mae: 50338.2539
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 49623.8633 - mae: 49623.8633 - val_loss: 50332.5312 - val_mae: 50332.5312
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 49609.0508 - mae: 49609.0508 - val_loss: 50335.3867 - val_mae: 50335.3867
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 49592.5625 - mae: 49592.5625 - val_loss: 50342.1328 - val_mae: 50342.1328
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 49582.5938 - mae: 49582.5938 - val_loss: 50332.1914 - val_mae: 50332.1914
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49567.9336 - mae: 49567.9336 - val_loss: 50317.7539 - val_mae: 50317.7539
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 49557.2578 - mae: 49557.2578 - val_loss: 50312.8047 - val_mae: 50312.8047
Epoch 38/100
250/250 [==============================] - 1s 2ms/step - loss: 49542.4688 - mae: 49542.4688 - val_loss: 50322.5781 - val_mae: 50322.5781
Epoch 39/100
250/250 [==============================] - 1s 2ms/step - loss: 49533.8281 - mae: 49533.8281 - val_loss: 50314.3867 - val_mae: 50314.3867
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49520.0000 - mae: 49520.0000 - val_loss: 50301.1016 - val_mae: 50301.1016
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 49509.9688 - mae: 49509.9688 - val_loss: 50305.4141 - val_mae: 50305.4141
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49497.6914 - mae: 49497.6914 - val_loss: 50309.2188 - val_mae: 50309.2188
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49489.9844 - mae: 49489.9844 - val_loss: 50300.1445 - val_mae: 50300.1445
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49483.5664 - mae: 49483.5664 - val_loss: 50294.5938 - val_mae: 50294.5938
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49475.6211 - mae: 49475.6211 - val_loss: 50298.5078 - val_mae: 50298.5078
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 49466.2266 - mae: 49466.2266 - val_loss: 50288.8906 - val_mae: 50288.8906
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 49459.1680 - mae: 49459.1680 - val_loss: 50285.9688 - val_mae: 50285.9688
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 49449.7070 - mae: 49449.7070 - val_loss: 50280.3359 - val_mae: 50280.3359
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 49441.2812 - mae: 49441.2812 - val_loss: 50290.5469 - val_mae: 50290.5469
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 49434.3711 - mae: 49434.3711 - val_loss: 50294.4375 - val_mae: 50294.4375
Epoch 51/100
250/250 [==============================] - 1s 2ms/step - loss: 49430.9766 - mae: 49430.9766 - val_loss: 50288.7539 - val_mae: 50288.7539
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 49424.1250 - mae: 49424.1250 - val_loss: 50299.4062 - val_mae: 50299.4062
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 49415.6172 - mae: 49415.6172 - val_loss: 50286.9883 - val_mae: 50286.9883
Epoch 54/100
250/250 [==============================] - 1s 3ms/step - loss: 49410.7227 - mae: 49410.7227 - val_loss: 50282.7266 - val_mae: 50282.7266
Epoch 55/100
250/250 [==============================] - 1s 3ms/step - loss: 49404.8828 - mae: 49404.8828 - val_loss: 50282.5469 - val_mae: 50282.5469
Epoch 56/100
250/250 [==============================] - 1s 4ms/step - loss: 49396.4297 - mae: 49396.4297 - val_loss: 50279.8594 - val_mae: 50279.8594
Epoch 57/100
250/250 [==============================] - 1s 6ms/step - loss: 49394.7852 - mae: 49394.7852 - val_loss: 50277.2070 - val_mae: 50277.2070
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 49388.3125 - mae: 49388.3125 - val_loss: 50282.5156 - val_mae: 50282.5156
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 49384.5117 - mae: 49384.5117 - val_loss: 50291.3242 - val_mae: 50291.3242
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 49377.3789 - mae: 49377.3789 - val_loss: 50281.6406 - val_mae: 50281.6406
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 49377.8125 - mae: 49377.8125 - val_loss: 50281.9414 - val_mae: 50281.9414
Epoch 62/100
250/250 [==============================] - 1s 2ms/step - loss: 49370.8477 - mae: 49370.8477 - val_loss: 50288.2617 - val_mae: 50288.2617
Epoch 63/100
250/250 [==============================] - 1s 2ms/step - loss: 49363.6328 - mae: 49363.6328 - val_loss: 50316.3320 - val_mae: 50316.3320
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 49362.2188 - mae: 49362.2188 - val_loss: 50299.1133 - val_mae: 50299.1133
Epoch 65/100
250/250 [==============================] - 1s 3ms/step - loss: 49356.2148 - mae: 49356.2148 - val_loss: 50286.8711 - val_mae: 50286.8711
Epoch 66/100
250/250 [==============================] - 1s 3ms/step - loss: 49351.4023 - mae: 49351.4023 - val_loss: 50299.2578 - val_mae: 50299.2578
Epoch 67/100
250/250 [==============================] - 1s 3ms/step - loss: 49348.7539 - mae: 49348.7539 - val_loss: 50300.2695 - val_mae: 50300.2695

In [24]:
%load_ext tensorboard

In [26]:
%tensorboard --logdir regression_logs/fit

Reusing TensorBoard on port 6006 (pid 6756), started 0:00:24 ago. (Use '!kill 6756' to kill it.)

In [27]:
test_loss,test_mae = model.evaluate(X_test,y_test)

print(f"Test MAE : {test_mae}")

63/63 [==============================] - 0s 5ms/step - loss: 50277.2070 - mae: 50277.2070
Test MAE : 50277.20703125

In [28]:
model.save('regression_model.h5')